
/* Tooltip container */

/* Tooltip text - start */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dashed black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  font-size: 35%;
  white-space: nowrap;
  background-color: white;
  color: #fff;
  /*  border: 2px solid white; */
  /*  box-shadow: 0 0 7px black; */
  text-align: center;
  border-radius: 10px;
  padding: 5px 7px;
  position: absolute;
  z-index: 0;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip - takes .5 seconds to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1.5s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 60px;
  margin-left: -5px;
  z-index: 1;
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* Tooltip text - end */
